//Jasmine
$cyan: #00ffff;
$magenta: #ff00ff;
$yellow: #ffff00;

//Kelly
$pinkOpacity: RGBA(247,202,201, .5);
/*$pink: #fceded;*/
/*$pink-shade: #f7cac9;*/
$pink: #fde5ea;
$pink-shade: #f8bcc4;
$gray: #89828c;
$kellyGreen: #1a8045;

